body {
    font-family: Verdana, 'Times New Roman';
    background-color: #000000;
    color: #ffffff;
    margin: 25px 25px 0px;
}

h1{
    font-size: 48px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 32px;
    text-shadow: 2px 4px #808080;
}

p {
    font-size: 24px;
    padding: 0px 0px 15px 15px;
}

img {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed #ffffff;
}

div {
    min-height: 100px;
    padding: 20px;
    border: 3px solid #ffffff;
}

.intro {
    border-radius: 15px;
    margin-top: 15px;
}

.red {
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom-width: 3px;
    border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
}

.blue {
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right-width: 10px;
    border-bottom-width: 3px;
    border-left-width: 0px;
    border-top-width: 0px;
}

.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom-width: 3px;
    border-left-width: 10px;
}

.yellow h2{
    color: #000000;
    text-shadow: 2px 4px #c7e2c7;
}

.yellow p{
    color: #000000;
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right-width: 10px;
    border-bottom-width: 3px;
}

span {
    text-decoration:underline;
    text-transform: uppercase;
    text-shadow: none;
}

footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,240,1) 70%, rgba(0,0,0,1) 100%);
}

footer p {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}